.foot {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40%);
    gap: 20px;
    padding: 10px;
    justify-content: center;
    /* margin: 100px 0  */
}

.links {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.references a {
    text-decoration: none;
    color: white;
    font-size: xx-large;
    margin: 10px;
}



@media (max-width: 500px) {

    .foot {
        grid-template-columns: 100%;
    }
}