ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a {
    display: block;
    color: #0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    border-radius: 10%;
}

.barItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0.5rem;
}

.item {
    font-size: 1rem;
    text-decoration: none;
    margin-right: 1vw;
    color: #fdfde0;

}

.navPhone {
    display: none;
}

.navPc {
    display: flex;
}

.navBarPc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 14px 16px;
    width: 100%;
    gap: 15rem;
}


@media (max-width: 500px) {
    .navPhone {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navPc {
        display: None;
    }
}