.menu-trigger{
    text-align: right;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    margin: 20px;
}
.dropdown-menu{
    position:absolute;
    top: 70px;
    right: 20px;
    background-color: #fff;
    border-radius: 5%;
    padding: 10px 20px;
    color: #0000;
    width: 100px;
}

.dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}

.dropdown-menu ul li {
    padding: 10px 0;
    border-top: 1px solid #0000;
}

.dropdown-menu ul li:hover a {
    color: #da0000;
    cursor: pointer;
}

.dropdownItem {
    text-decoration: none;
    color: #000000d3;
}

.dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(10)ease;
}
.dropdown-menu.inactive{
    opacity: 1;
    visibility: hidden;
    transform: translateY(0);
    transition: var(10)ease;
}